

<%- include('../partials/header') %>
<br>
<h3>Flight Details</h3>
<section id="show-page">
  <div>Airline: </div> 
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>

<h3>Add Destination</h3>
<form id="add-destination" method="POST" action="/flights/<%= flight._id %>/destinations">
<label>Destination:
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
</label>
<label>Arrival Details:
    <input type="datetime-local" name="arrives">
  </label>
  <br><br>
  <input type="submit" name="destinations" value="Add Destinations">
</form>
<br>
<% if (flight.destination.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destinations &nbsp;&nbsp;&nbsp;</th> 
          <th>Arrival Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destination.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrives %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Arrival Details Yet</h5>
  <% } %>
<br>

<h2>Tickets</h2>
<form id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
  <label>A1-F99:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <br>
  <label>Price: 
  <input name="price" type="number">
</label>
<br>
  <input type="submit" value="Add Seat">
</form>

<br>
<% if (tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat Number &nbsp;&nbsp;&nbsp;</th> 
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Tickets</h5>
  <% } %>
<br>
  
  

    
<%- include('../partials/footer') %>